<!-- start side navigation -->
<div class="col-md-3" role="complementary">
  <ul id="nav-mobile" class="side-nav fixed">
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li class="bold">
              <a class="collapsible-header waves-effect waves-teal">Design elements</a>
              <div class="collapsible-body" style="">
                <ul>
                  <li><a href="/design#color-palette">Color Palette</a></li>
                  <li><a href="/design#ui-colors">UI Colors</a></li>
                  <li><a href="/design#typography"> Typography</a></li>
                  <li><a href="/design#alerts">Alerts</a></li>
                  <li><a href="/design#animations">Animations</a></li>
                </ul>
              </div>
            </li>
            <li class="bold">
              <a class="collapsible-header waves-effect waves-teal">UI Components</a>
              <div class="collapsible-body" style="">
                <ul>
                  <li><a href="/ui-components#top-navigation">Top Navigation</a></li>
                  <li><a href="/ui-components#side-navigation">Side Navigation</a></li>
                  <li><a href="/ui-components#robot-dashboards">Robot Dashboards</a></li>
                  <li><a href="/ui-components#dashboard-charts">Dashboard Charts</a></li>
                </ul>
              </div>
            </li>
            <li class="bold"><a class="collapsible-header waves-effect waves-teal">Panels/Modules</a>
              <div class="collapsible-body" style="">
                <ul>
                  <li><a href="/panels#basic-panel">Basic Panel</a></li>
                  <li><a href="/panels#datatable-panel">Datatable Panel</a></li>
                  <li><a href="/panels#dialog-panel">Dialog Panel</a></li>
                  <li><a href="/panels#option-panel">Option Panel</a></li>
                  <li><a href="/panels#widget-panel">Widget Panel</a></li>
                </ul>
              </div>
            </li>
            <li class="bold"><a class="collapsible-header waves-effect waves-teal">Forms</a>
              <div class="collapsible-body" style="">
                <ul>
                  <li><a href="/forms#simple-form">Simple Form</a></li>
                  <li><a href="/forms#standard-input">Standard Input</a></li>
                  <li><a href="/forms#number-input">Number/Date Input</a></li>
                  <li><a href="/forms#validation">Validation</a></li>
                  <li><a href="/forms#tables-forms">Tables Inside Forms</a></li>
                </ul>
              </div>
            </li>
            <li class="bold"><a class="collapsible-header waves-effect waves-teal">JS</a>
              <div class="collapsible-body" style="">
                <ul>
                  <li><a href="/js-styles#dependency-overview">Dependency Overview</a></li>
                  <li><a href="/js-styles#jquery-ui">jQuery UI</a></li>
                  <li><a href="/js-styles#bootstrap">Bootstrap</a></li>
                  <li><a href="#d3-library">d3 Library</a></li>
                  <li><a href="/js-styles#project-custom">Project Custom</a></li>
                </ul>
              </div>
            </li>
            <li class="bold"><a class="collapsible-header waves-effect waves-teal">cSS Utilities</a>
              <div class="collapsible-body" style="">
                <ul>
                  <li><a href="/css-styles#responsive-grid">Responsive Grid</a></li>
                  <li><a href="/css-styles#important classes">Important Classes</a></li>
                  <li><a href="/css-styles#variables-mixins">Variables and Mixins</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
      </ul>
</div>
<!-- end side navigation -->
