
{{> sidebar}}

<div class="col-md-9">
  <div class="sg-section">
    <h2>Grid</h2>
    <h3>Responsive Grid</h3>
    <p>A great experience is top priority, no matter which device is being used to access Robot. With this in mind, a responsive grid system is the foundation to the UI of Robot.</p>
    <p>More in depth explanation of grid here.</p>

    <h3>Multi-coloumn Options</h3>
    <p>The robot interface allows for users to customize the dashboard into a multicolumn layout</p>
    <p>Options include: </p>
    <div class="preview-section">

    </div>
    <div class="code-section">

    </div>
  </div>
  <!-- end sg section one -->
  <!-- start sg section two -->
  <div class="sg-section">
    <h2>Important Classes</h2>
    <h3>How Classes are Used</h3>
    <p>To keep things organized and easy recognizable, there are standard id and class names. Wrapping div name is relevant to the component...</p>
    <p>Example</p>
    <h4>Navigation Color</h4>
    <div class="preview-section">

    </div>
    <div class="code-section">

    </div>
    <h4>Various state colors</h4>
    <h4>Background colors in the UI</h4>
  </div>
  <a id="two"></a>
  <!-- end sg section two -->
  <!-- start sg section three -->
  <div class="sg-section">
    <h2>Variables and Mixins</h2>
    <h3>Variables and Mixins are essential for organized stying and to keep things DRY.</h3>
    <p>Brief overview of mixins:</p>
    <div class="preview-section">

    </div>
    <div class="code-section javascript">
      <pre>

      </pre>
    </div>
    <div class="code-section html">
       <pre>
  &lt;div class=&quot;form-group&quot;&gt;
  &lt;label for=&quot;numberTypeExample&quot;&gt;Number:&lt;/label&gt;
  &lt;input name=&quot;numberTypeExample&quot; type=&quot;number&quot; name=&quot;numberType&quot; class=&quot;form-control&quot; placeholder=&quot;&quot; min=&quot;0&quot; max=&quot;200&quot; step=&quot;10&quot; /&gt;
  &lt;/div&gt;
      </pre>
    </div>
  </div>
  <!-- end sg section three -->

</div>
