
{{> sidebar}}

<div class="col-md-8">
  <h1>Forms</h1>
  <div class="sg-section">
    <a name="simple-form"></a>
    <h2>Form Type</h2>
    <a name="forms"></a>
    <h3>Simple Form</h3>
    <p>Forms require a few sections to work correctly.  Form items need to be inside a <code>&lt;form class=&quot;form-content&quot;&gt;</code> section.  Form groups (label and form-control pair) need to be inside a section with <code>.form-section</code> as the parent.  Each section should have a title and horizontal rule.  Robot Web forms are normally inside a dialog panel region.</p>
    <div class="preview-section">
      <form class="form-content">
        <div class="form-section">
          <h4>Section Title</h4>
          <hr/>
          <div class="form-group">
            <label for="inputId">Label:</label>
            <input id="inputId" class="form-control" />
          </div>
        </div>
      </form>
    </div>
    <div class="code-section">
                        <pre>
  &lt;form class=&quot;form-content&quot;&gt;
  &lt;div class=&quot;form-section&quot;&gt;
  &lt;h4&gt;Section Title&lt;/h4&gt;
  &lt;hr/&gt;
  &lt;div class=&quot;form-group&quot;&gt;
    &lt;label for=&quot;inputId&quot;&gt;Label:&lt;/label&gt;
    &lt;input id=&quot;inputId&quot; class=&quot;form-control&quot; /&gt;
  &lt;/div&gt;
  &lt;/div&gt;
  &lt;/form&gt;
      </pre>
    </div>
  </div>
  <!-- end sg section four -->
  <!-- start sg section five -->
  <div class="sg-section">
    <a name="standard-input"></a>
    <h2>Input Types</h2>
    <h3>Standard</h3>
    <p>We use standard HTML5 input types whenever we can.  Some input types are supported in all of our target browsers.  Others such as 'time' and 'date' are not supported in Firefox and IE.  For those we will need to use a webshim to bring in the functionality.</p>
    <div class="preview-section">
      <form class="form-content">
        <div class="form-section">
          <div class="form-group">
            <label for="textType">Text:</label>
            <input id="textType" name="textType" type="text" name="textType" class="form-control" placeholder="" />
          </div>
          <div class="form-group">
            <label for="textareaType">Textarea:</label>
            <textarea id="textareaType" name="textareaType" name="textareaType" class="form-control" placeholder="" ></textarea>
          </div>
          <div class="form-group">
            <label for="selectType">Select:</label>
            <select id="selectType" name="selectType" name="selectType" class="form-control" placeholder="" >
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="form-group">
            <label for="numberType">Number:</label>
            <input id="numberType" name="numberType" type="number" name="numberType" class="form-control" placeholder="" min="0" max="200" step="10" />
          </div>
          <div class="form-group">
            <label for="dateType">Date (not supported in FF or IE):</label>
            <input id="dateType" name="dateType" type="date" name="dateType" class="form-control" placeholder="" />
          </div>
          <div class="form-group">
            <label for="timeType">Time (not supported in FF or IE):</label>
            <input id="timeType" name="timeType" type="time" name="timeType" class="form-control" placeholder="" />
          </div>
        </div>
      </form>
    </div>
    <div class="code-section">
                        <pre>
  &lt;div class=&quot;form-group&quot;&gt;
  &lt;label for=&quot;textType&quot;&gt;Text:&lt;/label&gt;
  &lt;input id=&quot;textType&quot; name=&quot;textType&quot; type=&quot;text&quot; name=&quot;textType&quot; class=&quot;form-control&quot; placeholder=&quot;&quot; /&gt;
  &lt;/div&gt;
  &lt;div class=&quot;form-group&quot;&gt;
  &lt;label for=&quot;textareaType&quot;&gt;Textarea:&lt;/label&gt;
  &lt;textarea id=&quot;textareaType&quot; name=&quot;textareaType&quot; name=&quot;textareaType&quot; class=&quot;form-control&quot; placeholder=&quot;&quot; &gt;&lt;/textarea&gt;
  &lt;/div&gt;
  &lt;div class=&quot;form-group&quot;&gt;
  &lt;label for=&quot;selectType&quot;&gt;Select:&lt;/label&gt;
  &lt;select id=&quot;selectType&quot; name=&quot;selectType&quot; name=&quot;selectType&quot; class=&quot;form-control&quot; placeholder=&quot;&quot; &gt;
  &lt;option value=&quot;1&quot;&gt;Option 1&lt;/option&gt;
  &lt;option value=&quot;2&quot;&gt;Option 2&lt;/option&gt;
  &lt;option value=&quot;3&quot;&gt;Option 3&lt;/option&gt;
  &lt;/select&gt;
  &lt;/div&gt;
  &lt;div class=&quot;form-group&quot;&gt;
  &lt;label for=&quot;numberType&quot;&gt;Number:&lt;/label&gt;
  &lt;input id=&quot;numberType&quot; name=&quot;numberType&quot; type=&quot;number&quot; name=&quot;numberType&quot; class=&quot;form-control&quot; placeholder=&quot;&quot; min=&quot;0&quot; max=&quot;200&quot; step=&quot;10&quot; /&gt;
  &lt;/div&gt;
  &lt;div class=&quot;form-group&quot;&gt;
  &lt;label for=&quot;dateType&quot;&gt;Date (not supported in FF or IE):&lt;/label&gt;
  &lt;input id=&quot;dateType&quot; name=&quot;dateType&quot; type=&quot;date&quot; name=&quot;dateType&quot; class=&quot;form-control&quot; placeholder=&quot;&quot; /&gt;
  &lt;/div&gt;
  &lt;div class=&quot;form-group&quot;&gt;
  &lt;label for=&quot;timeType&quot;&gt;Time (not supported in FF or IE):&lt;/label&gt;
  &lt;input id=&quot;timeType&quot; name=&quot;timeType&quot; type=&quot;time&quot; name=&quot;timeType&quot; class=&quot;form-control&quot; placeholder=&quot;&quot; /&gt;
  &lt;/div&gt;
      </pre>
    </div>

    <a name="number-input"></a>
    <h3>Number</h3>
    <p>Number input type is well supported with our core browsers except noted exceptions below.   They support additional attributes for <code>min</code>, <code>max</code>, and <code>step</code>.</p>
    <p class="bg-warning">The notable exceptions are a lack of support in IE9 and lack of number type form spinner buttons for IE 10 &amp; IE 11.  See <a href="http://caniuse.com/#search=input%20type">caniuse.com</a></p>
    <div class="preview-section">
      <form class="form-content">
        <div class="form-section">
          <div class="form-group">
            <label for="numberTypeExample">Number:</label>
            <input id="numberTypeExample" name="numberTypeExample" type="number" name="numberType" class="form-control" placeholder="" min="0" max="200" step="10" />
          </div>
        </div>
      </form>
    </div>
    <div class="code-section javascript">
                        <pre>
  if (!Modernizr.inputtypes.number) {
  // initialize bootstrap touchspin
  $elms.TouchSpin({
  verticalbuttons: true,
  ...
  });
  }
      </pre>
    </div>
    <div class="code-section html">
                        <pre>
  &lt;div class=&quot;form-group&quot;&gt;
  &lt;label for=&quot;numberTypeExample&quot;&gt;Number:&lt;/label&gt;
  &lt;input name=&quot;numberTypeExample&quot; type=&quot;number&quot; name=&quot;numberType&quot; class=&quot;form-control&quot; placeholder=&quot;&quot; min=&quot;0&quot; max=&quot;200&quot; step=&quot;10&quot; /&gt;
  &lt;/div&gt;
      </pre>
    </div>

    <h3>Date and Time</h3>
    <p>Date and time input types are much less supported in our core browsers.  <code>type="date"</code> should use native HTML5 when available otherwise it should use Bootstrap DatePicker.</p>
    <p>For <code>type="time"</code> we will need to use the Bootstrap Timepicker in most cases.  The native HTML5 control is problematic that it is only supported in Chrome and the mobile browsers with the limitation that you can not toggle between 24hr and 12hr time.  We will be using Bootstrap Timepicker along with custom validations unless 12hr time is an acceptable input.</p>
    <div class="preview-section">
      <form class="form-content">
        <div class="form-section">
          <div class="form-group">
            <label for="dateTypeExample">Date:</label>
            <input id="dateTypeExample" name="dateTypeExample" type="date" name="numberType" class="form-control" placeholder="" min="0" max="200" step="10" />
          </div>
          <div class="form-group">
            <label for="timeTypeExample">Time:</label>
            <input id="timeTypeExample" name="timeTypeExample" type="time" name="numberType" class="form-control" placeholder="" min="0" max="200" step="10" />
          </div>
        </div>
      </form>
    </div>
    <div class="code-section javascript">
      <pre>
  if (!Modernizr.inputtypes.date) {
  // initialize bootstrap datepicker
  $date-elms.datetimepicker(...);
  }
  if (!Modernizr.touch) {
  // initialize bootstrap timepicker. http://jdewit.github.io/bootstrap-timepicker/
  $time-elms.timepicker({
  minuteStep: 1,
  template: false,
  showSeconds: true,
  showMeridian: false,
  defaultTime: false
  });
  }
      </pre>
    </div>
    <div class="code-section html">
                        <pre>
  &lt;div class=&quot;form-group&quot;&gt;
  &lt;label for=&quot;dateTypeExample&quot;&gt;Date:&lt;/label&gt;
  &lt;input id=&quot;dateTypeExample&quot; name=&quot;dateTypeExample&quot; type=&quot;date&quot; name=&quot;numberType&quot; class=&quot;form-control&quot; placeholder=&quot;&quot; min=&quot;0&quot; max=&quot;200&quot; step=&quot;10&quot; /&gt;
  &lt;/div&gt;
  &lt;div class=&quot;form-group&quot;&gt;
  &lt;label for=&quot;timeTypeExample&quot;&gt;Time:&lt;/label&gt;
  &lt;input id=&quot;timeTypeExample&quot; name=&quot;timeTypeExample&quot; type=&quot;time&quot; name=&quot;numberType&quot; class=&quot;form-control&quot; placeholder=&quot;&quot; min=&quot;0&quot; max=&quot;200&quot; step=&quot;10&quot; /&gt;
  &lt;/div&gt;
      </pre>
    </div>
  </div>

  <!-- end sg section five -->

  <!-- start sc section eight -->
  <div class="sg-section">
    <a name="validation"></a>
    <h2>Input Validations</h2>
    <p>Form input validation are displayed under the form input</p>
    <div class="preview-section">
      <form class="form-content">
        <div class="form-section">
          <div class="form-group has-error">
            <label for="ValidationExample1">Invalid:</label>
            <input id="ValidationExample1" name="ValidationExample1" class="form-control" placeholder="" />
            <span class="error">This field is invalid.</span>
          </div>
        </div>
      </form>
    </div>
    <div class="code-section html">
                          <pre>
  &lt;form class=&quot;form-content&quot;&gt;
      &lt;div class=&quot;form-section&quot;&gt;
          &lt;div class=&quot;form-group has-error&quot;&gt;
              &lt;label for=&quot;ValidationExample1&quot;&gt;Invalid:&lt;/label&gt;
              &lt;input id=&quot;ValidationExample1&quot; name=&quot;ValidationExample1&quot; class=&quot;form-control&quot; placeholder=&quot;&quot; /&gt;
              &lt;span class=&quot;error&quot;&gt;This field is invalid.&lt;/span&gt;
          &lt;/div&gt;
      &lt;/div&gt;
  &lt;/form&gt;
      </pre>
    </div>
  </div>
  <!-- end sc section eight -->
  <!-- start section nine -->
  <div class="sg-section">
    <a name="tables-forms"></a>
    <h3>Tables inside forms</h3>
    <p>Tables inside forms should follow this standard.  All table actions will be in a toolbar <code>.form-list-tooblar</code>.  If a header is needed it will be contained in a <code>.form-list-header</code>.  Content can follow our responsive column classes or remain a single line.  </p>
    <div class="preview-section">
      <form class="form-content">
        <div class="form-section">
          <h4>Form List</h4>
          <hr/>
          <ul class="form-list">
            <li class="form-list-toolbar column column-100">
              <div class="action-buttons">
                <span class="btn btn-success fa fa-plus" name="add" title="Add"></span>
              </div>
            </li>
            <li class="form-list-header column column-100">
              <a class="">
                <div class="column column-50 column-mobile-100">Name</div>
                <div class="column column-50 column-mobile-hidden">Status</div>
              </a>
            </li>
            <li class="form-list-item column column-100">
              <a class="">
                <div class="column column-50 column-mobile-100">
                  <span class="emphasized-text">Object One</span>
                </div>
                <div class="column column-50 column-mobile-100">Status</div>
              </a>
            </li>
            <li class="form-list-item column column-100">
              <a class="">
                <div class="column column-50 column-mobile-100">
                  <span class="emphasized-text">Object Two</span>
                </div>
                <div class="column column-50 column-mobile-100">Status</div>
              </a>
            </li>
            <li class="form-list-item column column-100">
              <a class="">
                <div class="column column-50 column-mobile-100">
                  <span class="emphasized-text">Object Three</span>
                </div>
                <div class="column column-50 column-mobile-100">Status</div>
              </a>
            </li>
          </ul>
        </div>
      </form>
    </div>
    <div class="code-section">
                        <pre>
  &lt;ul class=&quot;form-list&quot;&gt;
  &lt;li class=&quot;form-list-toolbar column column-100&quot;&gt;
  &lt;div class=&quot;action-buttons&quot;&gt;
  &lt;span class=&quot;btn btn-success fa fa-plus&quot; name=&quot;add&quot; title=&quot;Add&quot;&gt;&lt;/span&gt;
  &lt;/div&gt;
  &lt;/li&gt;
  &lt;li class=&quot;form-list-header column column-100&quot;&gt;
  &lt;a class=&quot;&quot;&gt;
  &lt;div class=&quot;column column-50 column-mobile-100&quot;&gt;Name&lt;/div&gt;
  &lt;div class=&quot;column column-50 column-mobile-hidden&quot;&gt;Status&lt;/div&gt;
  &lt;/a&gt;
  &lt;/li&gt;
  &lt;li class=&quot;form-list-item column column-100&quot;&gt;
  &lt;a class=&quot;&quot;&gt;
  &lt;div class=&quot;column column-50 column-mobile-100&quot;&gt;
    &lt;span class=&quot;emphasized-text&quot;&gt;Object One&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class=&quot;column column-50 column-mobile-100&quot;&gt;Status&lt;/div&gt;
  &lt;/a&gt;
  &lt;/li&gt;
  &lt;li class=&quot;form-list-item column column-100&quot;&gt;
  &lt;a class=&quot;&quot;&gt;
  &lt;div class=&quot;column column-50 column-mobile-100&quot;&gt;
    &lt;span class=&quot;emphasized-text&quot;&gt;Object Two&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class=&quot;column column-50 column-mobile-100&quot;&gt;Status&lt;/div&gt;
  &lt;/a&gt;
  &lt;/li&gt;
  &lt;li class=&quot;form-list-item column column-100&quot;&gt;
  &lt;a class=&quot;&quot;&gt;
  &lt;div class=&quot;column column-50 column-mobile-100&quot;&gt;
    &lt;span class=&quot;emphasized-text&quot;&gt;Object Three&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class=&quot;column column-50 column-mobile-100&quot;&gt;Status&lt;/div&gt;
  &lt;/a&gt;
  &lt;/li&gt;
  &lt;/ul&gt;
      </pre>
    </div>
  </div>
  <!-- end section nine -->
</div>
