
{{> sidebar}}

<div class="col-md-9">
<h1>Javascript</h1>
<a name="js"></a>
  <div class="sg-section">
    <a name="dependency-overview"></a>
    <h2>Dependency Overview</h2>
    <p>JS overview</p>
    <div class="preview-section">

    </div>
    <div class="code-section">

    </div>
  </div>
  <!-- end sg section one -->
  <!-- start sg section two -->
  <div class="sg-section">
    <a name="jquery-ui"></a>
    <h2>jQuery UI</h2>
    <p>Short explanation</p>
    <h3>Use Cases</h3>
    <div class="preview-section">

    </div>
    <div class="code-section">

    </div>
    <h4>Various state colors</h4>
    <h4>Backgroud colors in the UI</h4>
  </div>
  <a id="two"></a>
  <!-- end sg section two -->
  <!-- start sg section three -->
  <div class="sg-section">
    <a name="bootstrap"></a>
    <h2>Bootstrap</h2>
    <h3>Bootstrap Components</h3>
    <p>JS Components from Bootstrap</p>
    <div class="preview-section">
      <form class="form-content">
        <div class="form-section">
          <div class="form-group">
            <label for="numberTypeExample">Number:</label>
            <input id="numberTypeExample" name="numberTypeExample" type="number" name="numberType" class="form-control" placeholder="" min="0" max="200" step="10" />
          </div>
        </div>
      </form>
    </div>
    <div class="code-section javascript">
                        <pre>

      </pre>
    </div>
    <div class="code-section html">
                        <pre>

      </pre>
    </div>
  </div>
  <!-- end sg section three -->
    <!-- start sg section four -->
  <div class="sg-section">
    <a name="d3-library"></a>
    <h2>d3 Library</h2>
    <h3>Charts within Dashboard Panels</h3>
    <p>Overview of how d3 is used for dashboards.</p>
    <div class="preview-section">
      <form class="form-content">
        <div class="form-section">
          <div class="form-group">
            <label for="numberTypeExample">Number:</label>
            <input id="numberTypeExample" name="numberTypeExample" type="number" name="numberType" class="form-control" placeholder="" min="0" max="200" step="10" />
          </div>
        </div>
      </form>
    </div>
    <div class="code-section javascript">
                        <pre>

      </pre>
    </div>
    <div class="code-section html">
                        <pre>

      </pre>
    </div>
  </div>
  <!-- end sg section four -->
    <!-- start sg section five -->
  <div class="sg-section">
    <a name="project-custom"></a>
    <h2>Project Custom</h2>
    <h3>Custom Use Cases</h3>
    <p>Overview of custom javascript.</p>
    <div class="preview-section">
      <form class="form-content">
        <div class="form-section">
          <div class="form-group">
            <label for="numberTypeExample">Number:</label>
            <input id="numberTypeExample" name="numberTypeExample" type="number" name="numberType" class="form-control" placeholder="" min="0" max="200" step="10" />
          </div>
        </div>
      </form>
    </div>
    <div class="code-section javascript">
                        <pre>

      </pre>
    </div>
    <div class="code-section html">
                        <pre>

      </pre>
    </div>
  </div>
  <!-- end sg section four -->


</div>
