
{{> sidebar}}

<div class="col-md-9">
  <div class="sg-section">
    <h2>Javascript</h2>
    <h3>Dependency Overview</h3>
    <p>JS overview</p>
    <div class="preview-section">

    </div>
    <div class="code-section">

    </div>
  </div>
  <!-- end sg section one -->
  <!-- start sg section two -->
  <div class="sg-section">
    <h3>jquery UI</h3>
    <p>Short explanation</p>
    <h4>Navigation Color</h4>
    <div class="preview-section">

    </div>
    <div class="code-section">

    </div>
    <h4>Various state colors</h4>
    <h4>Backgroud colors in the UI</h4>
  </div>
  <a id="two"></a>
  <!-- end sg section two -->
  <!-- start sg section three -->
  <div class="sg-section">
    <h3>Bootstrap</h3>
    <p>JS Components from Bootstrap</p>
    <div class="preview-section">
      <form class="form-content">
        <div class="form-section">
          <div class="form-group">
            <label for="numberTypeExample">Number:</label>
            <input id="numberTypeExample" name="numberTypeExample" type="number" name="numberType" class="form-control" placeholder="" min="0" max="200" step="10" />
          </div>
        </div>
      </form>
    </div>
    <div class="code-section javascript">
                        <pre>
  if (!Modernizr.inputtypes.number) {
  // initialize bootstrap touchspin
  $elms.TouchSpin({
  verticalbuttons: true,
  ...
  });
  }
      </pre>
    </div>
    <div class="code-section html">
                        <pre>
  &lt;div class=&quot;form-group&quot;&gt;
  &lt;label for=&quot;numberTypeExample&quot;&gt;Number:&lt;/label&gt;
  &lt;input name=&quot;numberTypeExample&quot; type=&quot;number&quot; name=&quot;numberType&quot; class=&quot;form-control&quot; placeholder=&quot;&quot; min=&quot;0&quot; max=&quot;200&quot; step=&quot;10&quot; /&gt;
  &lt;/div&gt;
      </pre>
    </div>
  </div>
  <!-- end sg section three -->
    <!-- start sg section four -->
  <div class="sg-section">
    <h3>d3 Library</h3>
    <p>Overview of howo d3 is used for dashboards.</p>
    <div class="preview-section">
      <form class="form-content">
        <div class="form-section">
          <div class="form-group">
            <label for="numberTypeExample">Number:</label>
            <input id="numberTypeExample" name="numberTypeExample" type="number" name="numberType" class="form-control" placeholder="" min="0" max="200" step="10" />
          </div>
        </div>
      </form>
    </div>
    <div class="code-section javascript">
                        <pre>
  if (!Modernizr.inputtypes.number) {
  // initialize bootstrap touchspin
  $elms.TouchSpin({
  verticalbuttons: true,
  ...
  });
  }
      </pre>
    </div>
    <div class="code-section html">
                        <pre>
  &lt;div class=&quot;form-group&quot;&gt;
  &lt;label for=&quot;numberTypeExample&quot;&gt;Number:&lt;/label&gt;
  &lt;input name=&quot;numberTypeExample&quot; type=&quot;number&quot; name=&quot;numberType&quot; class=&quot;form-control&quot; placeholder=&quot;&quot; min=&quot;0&quot; max=&quot;200&quot; step=&quot;10&quot; /&gt;
  &lt;/div&gt;
      </pre>
    </div>
  </div>
  <!-- end sg section four -->



</div>
