{{!-- Sidebar partial --}}
{{> sidebar}}
<div class="col-md-9">
  <h1>Panels/Modules</h1>
  <div class="sg-section">
  <a name="panels"></a>
    <h2>Panel Types</h2>
    <a name="basic-panel"></a>
    <h3>Basic Panel</h3>
    <p>Panels are a reusable structure that give an optional header, footer, and content area.  They fill the parent container 100%.  Generally we do not use footers except for popup windows.  Normally the border is provided by a wrapper element but you can pass a <code>.with-border</code> class to get a basic grey border.</p>
    <div class="preview-section">
      <div class="example-panel-wrapper">
        <div class="panel with-footer with-border">
          <div class="panel-header">
            <span class="header-text">Basic Panel</span>
          </div>
          <div class="panel-content">
            Content area...
          </div>
          <div class="panel-footer">
            <div class="pull-right">
              <span class="btn btn-default">Cancel</span>
              <span class="btn btn-success">OK</span>
            </div>
            </div><!-- /.panel-footer -->
            </div><!-- /.panel with-footer -->
            </div><!-- /.example-panel-wrapper -->
            </div><!-- /.preview-section -->
            <div class="code-section">
                      <pre>
&lt;div class=&quot;panel with-footer&quot;&gt;
&lt;div class=&quot;panel-header&quot;&gt;
&lt;span class=&quot;header-text&quot;&gt;&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;panel-content&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;panel-footer&quot;&gt;&lt;/div&gt;
&lt;/div&gt;
              </pre>
              </div><!-- /.code-section -->
              </div><!-- /.sg-section -->
              <!-- start sg section two -->
              <div class="sg-section">
                <a name="datatable-panel"></a>
                <h2>Action Panels</h2>
                <h3>Datatable Panel</h3>
                <p>Datatable panels inherit from base panel with extras that are used in for our main object lists.</p>
                <div class="preview-section">
                  <div class="example-panel-wrapper">
                    <div class="panel grid datatable with-border">
                      <div class="panel-header-with-toolbar">
                        <div class="panel-header">
                          <span class="header-text">Datatable Panel</span>
                        </div>
                        <div class="toolbar">
                          <span class="btn btn-success pull-right"><i class="fa fa-plus"></i> Add</span>
                        </div>
                      </div>
                      <div class="panel-content">
                        <div class="datatable-search with-select-all ui-searchbox" value="" type="search">
                          <a class="toggle-selection">
                            <div class="select-all-checkbox grid-checkbox" title="Select All">
                              <div class="checkbox-base-icon"><i class="fa fa-check"></i></div>
                            </div>
                          </a>
                          <div class="search-field-wrapper"><input class="search-field" type="text" value="" placeholder="Search..." autocomplete="off"><a class="cancel-search-button"></a></div>
                        </div>
                        <div class="datatable-empty" style="display: none;">No jobs defined.</div>
                        <span class="datatable-message badge"></span>
                        <div class="datatable-ul-wrapper">
                          <ul class="datatable-ul ui-listview" data-role="listview" data-insert="true">
                            <li class="datatable-item job-compact even first ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-first-child ui-btn-up-c" data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c">
                              <div class="ui-btn-inner ui-li">
                                <div class="ui-btn-text">
                                  <div class="row-action-wrapper grid-item-actions" style="display: block; right: -100%;">
                                    <span class="action run fa fa-play" title="Do Job Now"></span>
                                    <span class="action hold fa fa-pause" title="Hold"></span>
                                    <span class="action override fa fa-dot-circle-o" title="Schedule Override"></span>
                                    <span class="action remove-override fa fa-times-circle-o" title="Remove Override"></span>
                                    <span class="action job-history fa fa-archive" title="Job Monitor History"></span>
                                    <span class="action monitor-history fa fa-history" title="Job Completion History"></span>
                                    <span class="action where-used fa fa-cogs" title="Where Used"></span>
                                    <span class="action job-flow-diagram fa fa-sitemap" title="Diagram Job"></span><span class="action properties fa fa-file-o" title="Properties"></span>
                                  </div>
                                  <div class="grid-checkbox ">
                                    <div class="checkbox-base-icon">
                                      <i class="fa fa-check"></i>
                                    </div>
                                  </div>
                                  <a class="ui-link-inherit">
                                    <div class="column column-100">
                                      <span class="non-wrapping-text">
                                        <span class="job-name non-wrapping-text emphasized-text">AGENTJOB</span>
                                      </span>
                                      <span class="override-wrapper inlinet"></span>
                                      <span class="group-name inlinet pull-right">
                                        <span class="text-label">Agent:</span>
                                        <span class="non-wrapping-text value">HS1035_JSHAFER</span>
                                      </span>
                                    </div>
                                    <div class="column column-100">
                                      <span class="non-wrapping-text light-text">Agent Job</span>
                                    </div>
                                  </a>
                                </div>
                                <span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
                              </div>
                            </li>
                            <li class="datatable-item job-compact odd ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c" data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c">
                              <div class="ui-btn-inner ui-li">
                                <div class="ui-btn-text">
                                  <div class="row-action-wrapper grid-item-actions" style="display: block; right: -100%;">
                                    <span class="action run fa fa-play" title="Do Job Now"></span>
                                    <span class="action hold fa fa-pause" title="Hold"></span>
                                    <span class="action override fa fa-dot-circle-o" title="Schedule Override"></span>
                                    <span class="action remove-override fa fa-times-circle-o" title="Remove Override"></span>
                                    <span class="action job-history fa fa-archive" title="Job Monitor History"></span>
                                    <span class="action monitor-history fa fa-history" title="Job Completion History"></span>
                                    <span class="action where-used fa fa-cogs" title="Where Used"></span>
                                    <span class="action job-flow-diagram fa fa-sitemap" title="Diagram Job"></span><span class="action properties fa fa-file-o" title="Properties"></span>
                                  </div>
                                  <div class="grid-checkbox ">
                                    <div class="checkbox-base-icon">
                                      <i class="fa fa-check"></i>
                                    </div>
                                  </div>
                                  <a class="ui-link-inherit">
                                    <div class="column column-100">
                                      <span class="non-wrapping-text">
                                        <span class="job-name non-wrapping-text emphasized-text">AGENTJOB2</span>
                                      </span>
                                      <span class="override-wrapper inlinet"></span>
                                      <span class="group-name inlinet pull-right">
                                        <span class="text-label">Agent:</span>
                                        <span class="non-wrapping-text value">HS2182_LUKETEST</span>
                                      </span>
                                    </div>
                                    <div class="column column-100">
                                      <span class="non-wrapping-text light-text">Agent Job</span>
                                    </div>
                                  </a>
                                </div>
                                <span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="datatable-footer" style="">
                          <div class="ui-disabled footer-previous">
                            <i class="fa fa-backward"></i>
                            <a class="previousBtn">Previous</a>
                          </div>
                          <div class="last-updated-at">
                            <span class="last-updated-text">Last Updated: </span>
                            <span class="last-updated-value">2014-11-13 08:11:25 CST</span>
                          </div>
                          <div class="ui-disabled footer-next">
                            <a class="nextBtn">Next</a>
                            <i class="fa fa-forward"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="code-section">
                        <pre>
&lt;div class=&quot;panel grid datatable&quot;&gt;
&lt;div class=&quot;panel-header-with-toolbar&quot;&gt;
&lt;div class=&quot;panel-header&quot;&gt;
&lt;span class=&quot;header-text&quot;&gt;&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;toolbar&quot;&gt;
&lt;span class=&quot;btn btn-success&quot;&gt;&lt;i class=&quot;fa fa-plus&quot;&gt;&lt;/a&gt; Add&lt;/span&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;panel-content&quot;&gt;&lt;/div&gt;
&lt;/div&gt;
                  </pre>
                  </div><!-- /.code-section -->
                  </div><!-- /.sg-section -->
                  <!-- end sg section two -->
                  <!-- start sg section three -->
                  <div class="sg-section">
                  <a name="dialog-panel"></a>
                    <h3>Dialog Panel</h3>
                    <p>Dialog panels are a basic panel wrapped by the <code>#dialog</code> div.  The footer is used as a toolbar and moved under the header.</p>
                    <div class="code-section">
                            <pre>
&lt;div id=&quot;dialog&quot; class=&quot;dialog-shown&quot;&gt;
&lt;div class=&quot;panel with-footer&quot;&gt;
&lt;div class=&quot;panel-header&quot;&gt;
&lt;span class=&quot;header-text&quot;&gt;&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;panel-footer&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;panel-content&quot;&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
                      </pre>
                    </div>
                  </div>
                  <!-- end sg section three -->
                  <!--start section four -->
                  <div class="sg-section">

                    <a name="option-panel"></a>
                    <h3>Option Panel</h3>
                    <p>This option panel has additional content compared to the basic panel. The option panel allows for selectable radio buttons with different options. The example shown is found in the Robot SCHEDULE as a way to print scheduled activities. This module is wrapped by the <code>#lookup</code> div. This contains a footer with buttons.</p>

                    <div class="preview-section">

                        <div class="example-panel-wrapper">

                             <!-- start example code -->

                            <div class="panel with-footer floating-dialog confirm-dialog">
                            <div class="panel-header">
                              <span class="header-text">
                                  Print Dialog
                              </span>
                            </div>
                            <div class="panel-content">
                              <form class="form-content">
                                <div class="range-container ui-corner-all ui-controlgroup ui-controlgroup-vertical" aria-disabled="false" data-disabled="false" data-shadow="false" data-corners="true" data-exclude-invisible="true" data-type="vertical" data-mini="false" data-init-selector=":jqmData(role='controlgroup')">
                                  <div class="ui-controlgroup-controls">
                                    <div class="ui-radio">
                                      <label class="form-item-label ui-first-child ui-radio-on ui-btn ui-btn-corner-all ui-fullsize ui-btn-icon-left ui-btn-up-c" for="yesterday" data-corners="true" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="radio-on" data-theme="c" data-mini="false">
                                        <span class="ui-btn-inner">
                                          <span class="ui-btn-text">Option One</span>
                                          <span class="ui-icon ui-icon-radio-on ui-icon-shadow">&nbsp;</span>
                                        </span>
                                      </label>
                                      <input type="radio" name="print-schedule" id="yesterday" value="1">
                                    </div>

                                    <div class="ui-radio">
                                      <label class="form-item-label ui-radio-off ui-btn ui-btn-corner-all ui-fullsize ui-btn-icon-left ui-btn-up-c" for="today" data-corners="true" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="radio-off" data-theme="c" data-mini="false">
                                        <span class="ui-btn-inner">
                                          <span class="ui-btn-text">Option Two</span>
                                          <span class="ui-icon ui-icon-radio-off ui-icon-shadow">&nbsp;</span>
                                        </span>
                                      </label>
                                      <input type="radio" name="print-schedule" id="today" value="2" checked="checked">
                                    </div>

                                    <div class="ui-radio">
                                      <label class="form-item-label ui-last-child ui-radio-off ui-btn ui-btn-corner-all ui-fullsize ui-btn-icon-left ui-btn-up-c" for="tomorrow" data-corners="true" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="radio-off" data-theme="c" data-mini="false">
                                      <span class="ui-btn-inner"><span class="ui-btn-text">Option Three</span>
                                        <span class="ui-icon ui-icon-radio-off ui-icon-shadow">&nbsp;</span>
                                      </span>
                                      </label>
                                    <input type="radio" name="print-schedule" id="tomorrow" value="3">
                                    </div>

                                  </div>
                                </div>
                              </form>
                            </div>
                            <div class="panel-footer">
                                <button class="btn save">Print</button>
                                <button class="btn cancel">Cancel</button>
                            </div>
                            </div>

                            <!-- end example code -->

                        </div>

                    </div>

                    <div class="code-section">

                      <pre>

&lt;div class=&quot;panel with-footer floating-dialog confirm-dialog&quot;&gt;
  &lt;div class=&quot;panel-header&quot;&gt;
    &lt;span class=&quot;header-text&quot;&gt;
        Dialog Title
    &lt;/span&gt;
  &lt;/div&gt;
  &lt;div class=&quot;panel-content&quot;&gt;
    &lt;form class=&quot;form-content&quot;&gt;
      &lt;div class=&quot;range-container ui-corner-all ui-controlgroup ui-controlgroup-vertical&quot; aria-disabled=&quot;false&quot; data-disabled=&quot;false&quot; data-shadow=&quot;false&quot; data-corners=&quot;true&quot; data-exclude-invisible=&quot;true&quot; data-type=&quot;vertical&quot; data-mini=&quot;false&quot; data-init-selector=&quot;:jqmData(role='controlgroup')&quot;&gt;
        &lt;div class=&quot;ui-controlgroup-controls&quot;&gt;
          &lt;div class=&quot;ui-radio&quot;&gt;
            &lt;label class=&quot;form-item-label ui-first-child ui-radio-on ui-btn ui-btn-corner-all ui-fullsize ui-btn-icon-left ui-btn-up-c&quot; for=&quot;yesterday&quot; data-corners=&quot;true&quot; data-shadow=&quot;false&quot; data-iconshadow=&quot;true&quot; data-wrapperels=&quot;span&quot; data-icon=&quot;radio-on&quot; data-theme=&quot;c&quot; data-mini=&quot;false&quot;&gt;
              &lt;span class=&quot;ui-btn-inner&quot;&gt;
                &lt;span class=&quot;ui-btn-text&quot;&gt;Option&lt;/span&gt;
                &lt;span class=&quot;ui-icon ui-icon-radio-on ui-icon-shadow&quot;&gt;&amp;nbsp;&lt;/span&gt;
              &lt;/span&gt;
            &lt;/label&gt;
            &lt;input type=&quot;radio&quot; name=&quot;print-schedule&quot; id=&quot;yesterday&quot; value=&quot;1&quot;&gt;
          &lt;/div&gt;

        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/form&gt;
  &lt;/div&gt;
  &lt;div class=&quot;panel-footer&quot;&gt;
      &lt;button class=&quot;btn save&quot;&gt;Print&lt;/button&gt;
      &lt;button class=&quot;btn cancel&quot;&gt;Cancel&lt;/button&gt;
  &lt;/div&gt;
&lt;/div&gt;

                      </pre>

                  </div>

                </div>
                  <!-- end section four -->

                  <!-- start section five -->
                <div class="sg-section">
                <a name="widget-panel"></a>
                <h3>Widget Panel</h3>
                <p>The widget panel builds upon what is shown in the basic panel but has added functionality. This panel allows the user to choose and add a widget. With the ability to expand the list, the user is presented with the list of dashboard options. This panel is wrapped by the <code>#lookup</code> div. This contains a footer with buttons.</p>

                  <div class="preview-section">

                    <div class="example-panel-wrapper">

                    <!-- start visual example -->

                    <div class="panel with-footer floating-dialog confirm-dialog">
                        <div class="panel-header">
                            <span class="header-text">
                                Add Widget
                            </span>
                        </div>
                        <div class="panel-content ui-page">
                            <span class="legend">Select a widget to add to the dashboard.</span>
                            <ul class="widgets ui-listview">
                                <li class="datatable-item grouped ui-collapsible ui-collapsible-inset ui-corner-all ui-li ui-li-static ui-btn-up-c ui-first-child ui-last-child ui-collapsible-collapsed">
                                    <div class="header ui-collapsible-heading ui-collapsible-heading-collapsed">
                                        <a href="#" class="ui-collapsible-heading-toggle ui-btn ui-mini ui-btn-icon-left ui-btn-up-c" data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="plus" data-iconpos="left" data-theme="c" data-mini="true">
                                        <span class="ui-btn-inner">
                                            <span class="ui-btn-text">
                                            <a class="ui-link-inherit">
                                                <div class="column column-100">
                                                    <span class="group-name non-wrapping-text emphasized-text">
                                                        Robot SCHEDULE
                                                    </span>
                                                </div>
                                            </a>
                                            <span class="ui-collapsible-heading-status"> click to expand contents</span>
                                            </span>
                                        <span class="ui-icon ui-icon-shadow ui-icon-plus">&nbsp;</span>
                                        </span>
                                        </a>
                                    </div>
                                    <div class="ui-collapsible-content ui-collapsible-content-collapsed" aria-hidden="true">
                                        <div class="ui-page widgets">
                                        <ul class="datatable-ul ui-listview" data-role="listview" data-insert="true">
                                            <li class="datatable-item odd last ui-btn ui-btn-up-c ui-btn-icon-right ui-li-has-arrow ui-li ui-first-child" data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="" data-iconpos="right" data-theme="c">
                                                <div class="ui-btn-inner ui-li">
                                                    <div class="ui-btn-text">
                                                        <div class="grid-checkbox">
                                                            <div class="checkbox-base-icon">
                                                                <i class="fa fa-check"></i>
                                                            </div>
                                                        </div>
                                                    <a class="ui-link-inherit">
                                                    <div class="column column-100">
                                                        <span>Event Monitor - Directory Events</span>
                                                    </div>
                                                    </a>
                                                    </div>
                                                </div>
                                            </li>
                                        <li class="datatable-item odd last ui-btn ui-btn-up-c ui-btn-icon-right ui-li-has-arrow ui-li" data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="" data-iconpos="right" data-theme="c">
                                            <div class="ui-btn-inner ui-li">
                                                <div class="ui-btn-text">
                                                    <div class="grid-checkbox">
                                                        <div class="checkbox-base-icon">
                                                        <i class="fa fa-check"></i>
                                                        </div>
                                                    </div>
                                                    <a class="ui-link-inherit">
                                                        <div class="column column-100">
                                                            <span>Event Monitor - File Events</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="datatable-item odd last ui-btn ui-btn-up-c ui-btn-icon-right ui-li-has-arrow ui-li" data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="" data-iconpos="right" data-theme="c">
                                        <div class="ui-btn-inner ui-li">
                                            <div class="ui-btn-text">
                                                <div class="grid-checkbox">
                                                    <div class="checkbox-base-icon">
                                                        <i class="fa fa-check">
                                                        </i>
                                                    </div>
                                                </div>
                                            <a class="ui-link-inherit">
                                                <div class="column column-100">
                                                    <span>Event Monitor - Member Events</span>
                                                </div>
                                            </a>
                                            </div>
                                        </div>
                                        </li>
                                        <li class="datatable-item odd last ui-btn ui-btn-up-c ui-btn-icon-right ui-li-has-arrow ui-li" data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="" data-iconpos="right" data-theme="c">
                                            <div class="ui-btn-inner ui-li">
                                                <div class="ui-btn-text">
                                                    <div class="grid-checkbox">
                                                        <div class="checkbox-base-icon">
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                    </div>
                                                <a class="ui-link-inherit">
                                                    <div class="column column-100">
                                                        <span>History - Event Monitors</span>
                                                    </div>
                                                </a>
                                                </div>
                                            </div>
                                        </li>
                                        </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                          <div class="panel-footer">
                            <button class="btn save">Add</button>
                            <button class="btn cancel">Cancel</button>
                          </div>
                    </div>

                    <!-- end visual example -->

                    </div>

                  </div>

                  <div class="code-section">

                    <pre>

&lt;div class=&quot;panel with-footer floating-dialog confirm-dialog&quot;&gt;
    &lt;div class=&quot;panel-header&quot;&gt;
        &lt;span class=&quot;header-text&quot;&gt;
            Add Widget
        &lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;panel-content ui-page&quot;&gt;
        &lt;span class=&quot;legend&quot;&gt;Select a widget to add to the dashboard.&lt;/span&gt;
        &lt;ul class=&quot;widgets ui-listview&quot;&gt;
            &lt;li class=&quot;datatable-item grouped ui-collapsible ui-collapsible-inset ui-corner-all ui-li ui-li-static ui-btn-up-c ui-first-child ui-last-child ui-collapsible-collapsed&quot;&gt;
                &lt;div class=&quot;header ui-collapsible-heading ui-collapsible-heading-collapsed&quot;&gt;
                    &lt;a href=&quot;#&quot; class=&quot;ui-collapsible-heading-toggle ui-btn ui-mini ui-btn-icon-left ui-btn-up-c&quot; data-corners=&quot;false&quot; data-shadow=&quot;false&quot; data-iconshadow=&quot;true&quot; data-wrapperels=&quot;span&quot; data-icon=&quot;plus&quot; data-iconpos=&quot;left&quot; data-theme=&quot;c&quot; data-mini=&quot;true&quot;&gt;
                    &lt;span class=&quot;ui-btn-inner&quot;&gt;
                        &lt;span class=&quot;ui-btn-text&quot;&gt;
                        &lt;a class=&quot;ui-link-inherit&quot;&gt;
                            &lt;div class=&quot;column column-100&quot;&gt;
                                &lt;span class=&quot;group-name non-wrapping-text emphasized-text&quot;&gt;
                                    Robot SCHEDULE
                                &lt;/span&gt;
                            &lt;/div&gt;
                        &lt;/a&gt;
                        &lt;span class=&quot;ui-collapsible-heading-status&quot;&gt; click to expand contents&lt;/span&gt;
                        &lt;/span&gt;
                    &lt;span class=&quot;ui-icon ui-icon-shadow ui-icon-plus&quot;&gt;&amp;nbsp;&lt;/span&gt;
                    &lt;/span&gt;
                    &lt;/a&gt;
                &lt;/div&gt;
                &lt;div class=&quot;ui-collapsible-content ui-collapsible-content-collapsed&quot; aria-hidden=&quot;true&quot;&gt;
                    &lt;div class=&quot;ui-page widgets&quot;&gt;
                    &lt;ul class=&quot;datatable-ul ui-listview&quot; data-role=&quot;listview&quot; data-insert=&quot;true&quot;&gt;
                        &lt;li class=&quot;datatable-item odd last ui-btn ui-btn-up-c ui-btn-icon-right ui-li-has-arrow ui-li ui-first-child&quot; data-corners=&quot;false&quot; data-shadow=&quot;false&quot; data-iconshadow=&quot;true&quot; data-wrapperels=&quot;div&quot; data-icon=&quot;&quot; data-iconpos=&quot;right&quot; data-theme=&quot;c&quot;&gt;
                            &lt;div class=&quot;ui-btn-inner ui-li&quot;&gt;
                                &lt;div class=&quot;ui-btn-text&quot;&gt;
                                    &lt;div class=&quot;grid-checkbox&quot;&gt;
                                        &lt;div class=&quot;checkbox-base-icon&quot;&gt;
                                            &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;a class=&quot;ui-link-inherit&quot;&gt;
                                &lt;div class=&quot;column column-100&quot;&gt;
                                    &lt;span&gt;Event Monitor - Directory Events&lt;/span&gt;
                                &lt;/div&gt;
                                &lt;/a&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/li&gt;
                    &lt;li class=&quot;datatable-item odd last ui-btn ui-btn-up-c ui-btn-icon-right ui-li-has-arrow ui-li&quot; data-corners=&quot;false&quot; data-shadow=&quot;false&quot; data-iconshadow=&quot;true&quot; data-wrapperels=&quot;div&quot; data-icon=&quot;&quot; data-iconpos=&quot;right&quot; data-theme=&quot;c&quot;&gt;
                        &lt;div class=&quot;ui-btn-inner ui-li&quot;&gt;
                            &lt;div class=&quot;ui-btn-text&quot;&gt;
                                &lt;div class=&quot;grid-checkbox&quot;&gt;
                                    &lt;div class=&quot;checkbox-base-icon&quot;&gt;
                                    &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;a class=&quot;ui-link-inherit&quot;&gt;
                                    &lt;div class=&quot;column column-100&quot;&gt;
                                        &lt;span&gt;Event Monitor - File Events&lt;/span&gt;
                                    &lt;/div&gt;
                                &lt;/a&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/li&gt;
                    &lt;li class=&quot;datatable-item odd last ui-btn ui-btn-up-c ui-btn-icon-right ui-li-has-arrow ui-li&quot; data-corners=&quot;false&quot; data-shadow=&quot;false&quot; data-iconshadow=&quot;true&quot; data-wrapperels=&quot;div&quot; data-icon=&quot;&quot; data-iconpos=&quot;right&quot; data-theme=&quot;c&quot;&gt;
                    &lt;div class=&quot;ui-btn-inner ui-li&quot;&gt;
                        &lt;div class=&quot;ui-btn-text&quot;&gt;
                            &lt;div class=&quot;grid-checkbox&quot;&gt;
                                &lt;div class=&quot;checkbox-base-icon&quot;&gt;
                                    &lt;i class=&quot;fa fa-check&quot;&gt;
                                    &lt;/i&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;a class=&quot;ui-link-inherit&quot;&gt;
                            &lt;div class=&quot;column column-100&quot;&gt;
                                &lt;span&gt;Event Monitor - Member Events&lt;/span&gt;
                            &lt;/div&gt;
                        &lt;/a&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;/li&gt;
                    &lt;li class=&quot;datatable-item odd last ui-btn ui-btn-up-c ui-btn-icon-right ui-li-has-arrow ui-li&quot; data-corners=&quot;false&quot; data-shadow=&quot;false&quot; data-iconshadow=&quot;true&quot; data-wrapperels=&quot;div&quot; data-icon=&quot;&quot; data-iconpos=&quot;right&quot; data-theme=&quot;c&quot;&gt;
                        &lt;div class=&quot;ui-btn-inner ui-li&quot;&gt;
                            &lt;div class=&quot;ui-btn-text&quot;&gt;
                                &lt;div class=&quot;grid-checkbox&quot;&gt;
                                    &lt;div class=&quot;checkbox-base-icon&quot;&gt;
                                        &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;a class=&quot;ui-link-inherit&quot;&gt;
                                &lt;div class=&quot;column column-100&quot;&gt;
                                    &lt;span&gt;History - Event Monitors&lt;/span&gt;
                                &lt;/div&gt;
                            &lt;/a&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/li&gt;
                    &lt;/ul&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
      &lt;div class=&quot;panel-footer&quot;&gt;
        &lt;button class=&quot;btn save&quot;&gt;Add&lt;/button&gt;
        &lt;button class=&quot;btn cancel&quot;&gt;Cancel&lt;/button&gt;
      &lt;/div&gt;
&lt;/div&gt;

                    </pre>

                  </div>

                </div>


                  <!-- end section five -->

                  <!--start section six -->
                  <div class="sg-section">

                    <a name="option-panel"></a>
                    <h3>Schedule Activity Panels</h3>
                    <p>The panels within the Schedule Activity dashboard contain important information on the status of the jobs. At a glance, this status can be noted within the Forecasts, Active, and Completed lists. Within those lists, it is easy to see how many are Running/Waiting/Delayed and how many have been completed or if any have failed. The color coded circles and also the ability to choose more options.</p>

                    <div class="preview-section">

                        <div class="example-panel-wrapper">

                            <!-- start example code -->
                          <div class="schedule-module">
                            <div class="datatable grid panel ui-page">
                              <div id="datatable-content" class="panel-content">
                                <div class="sam-panel-wrapper column column-100 column-mobile-100">
                                    <div class="active-grid panel sam-panel widget-width-large">
                                    <div class="header">
                                    <h2 class="header-text">Active</h2>
                                    <span class="toolbar">
                                        <a class="active-toolbar btn btn-default btn-xs sam-table-button">
                                            <table>
                                                <tbody><tr>
                                                    <td>Running</td>
                                                    <td>Waiting</td>
                                                    <td>Delayed</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="running-count badge">2</span></td>
                                                    <td><span class="waiting-count badge">0</span></td>
                                                    <td><span class="delayed-count badge">0</span></td>
                                                </tr>
                                            </tbody></table>
                                        </a>
                                    </span>
                                </div>
                                <ul class="datatable-ul">
                                <li class="datatable-item sam-active even first with-row-action-icon"><div class="row-action-wrapper grid-item-actions">
                                    <span class="action end fa fa-stop" title="End"></span>
                                    <span class="action hold fa fa-pause" title="Hold"></span>
                                    <span class="action release fa fa-cogs" title="Release"></span>
                                    <span class="action percent fa fa-tasks" title="Percent Complete"></span>
                                    <span class="action job-flow-diagram">Diagram Job</span>
                                    <span class="action completion-history fa fa-archive" title="Job Completion History"></span><span class="action log fa fa-sitemap" title="Job Log"></span><span class="action job-attributes fa fa-newspaper-o" title="Job Attributes"></span>
                                    <span class="action spooled-file fa fa-fax" title="Job Spooled Files"></span>
                                    <span class="action properties fa fa-file-o" title="Properties"></span>
                                </div>
                                <div class="data-column">
                                    <div class="column column-160px column-mobile-100">
                                        <span class="job-name non-wrapping-text emphasized-text">
                                            ALWAYSRUN
                                        </span>

                                    </div>

                                        <div class="column column-100-minus-160px column-mobile-100">
                                            <i class="job-history-icon job-history-R"></i>
                                            <span class="text-label emphasized-text">Running</span>
                                        </div>


                                </div>
                                <div class="date-column">

                                        <span class="non-wrapping-text value">07-01 06:31:01 </span>

                                </div>

                                <div class="row-action-button" title="Show Actions"><div class="row-action-icon"></div></div></li><li class="datatable-item sam-active odd last with-row-action-icon"><div class="row-action-wrapper grid-item-actions">
                                    <span class="action end fa fa-stop" title="End"></span>
                                    <span class="action hold fa fa-pause" title="Hold"></span>
                                    <span class="action release fa fa-cogs" title="Release"></span>
                                    <span class="action percent fa fa-tasks" title="Percent Complete"></span>
                                    <span class="action job-flow-diagram">Diagram Job</span>
                                    <span class="action completion-history fa fa-archive" title="Job Completion History"></span><span class="action log fa fa-sitemap" title="Job Log"></span><span class="action job-attributes fa fa-newspaper-o" title="Job Attributes"></span>
                                    <span class="action spooled-file fa fa-fax" title="Job Spooled Files"></span>
                                    <span class="action properties fa fa-file-o" title="Properties"></span>
                                </div>
                                <div class="data-column">
                                    <div class="column column-160px column-mobile-100">
                                        <span class="job-name non-wrapping-text emphasized-text">
                                            ALWAYSRUN2
                                        </span>

                                    </div>

                                        <div class="column column-100-minus-160px column-mobile-100">
                                            <i class="job-history-icon job-history-R"></i>
                                            <span class="text-label emphasized-text">Running</span>
                                        </div>


                                </div>
                                <div class="date-column">

                                        <span class="non-wrapping-text value">07-01 06:31:01 </span>

                                </div>

                                <div class="row-action-button" title="Show Actions"><div class="row-action-icon"></div></div></li></ul>
                                </div>
                              </div>
                              </div>
                            </div>
                          </div>

                            <!-- end example code -->

                        </div>

                    </div>

                    <div class="code-section">

                      <pre>

                      </pre>

                  </div>

                </div>
                  <!-- end section six -->

                  <!--start section seven -->
                  <div class="sg-section">

                    <a name="option-panel"></a>


                    <div class="row">

                      <div class="col-md-4 col-xs-12 preview section clerafix">

                      <!-- start example code -->

                        <div class="preview-section">

                          <div class="example-panel-wrapper">

                               <!-- start example code -->

                            <div class="ui-popup-container ui-popup-active" tabindex="0" style="z-index: 30;">
                              <div class="row-action-wrapper grid-item-actions ui-popup ui-overlay-shadow ui-corner-all ui-body-c" aria-disabled="false" data-disabled="false" data-overlay-theme="b" data-shadow="true" data-corners="true" data-transition="none" data-position-to="[object Object]" data-dismissible="true">
                                <span class="action run" title="">Do Job Now</span>
                                <span class="action hold" title="">Hold</span>
                                <span class="action override" title="">Schedule Override</span>
                                <span class="action remove-override" title="">Remove Override</span>
                                <span class="action properties" title="">Properties</span>
                                <span class="action" title="">Close</span>
                              </div>
                            </div>

                              <!-- end example code -->

                          </div>

                        </div>

                      </div>

                      <div class="col-md-8">

                        <h3>Option Details</h3>
                        <p>There is a modal window used that has individual options for jobs. Depending on the task, the options will vary.</p>

                      </div>

                    </div>


                    <div class="code-section">

                      <pre>

&lt;div class=&quot;ui-popup-container ui-popup-active&quot; tabindex=&quot;0&quot; style=&quot;max-width: 1633px; top: 30px; left: 555.984375px;&quot;&gt;
    &lt;div class=&quot;row-action-wrapper grid-item-actions ui-popup ui-overlay-shadow ui-corner-all ui-body-c&quot; aria-disabled=&quot;false&quot; data-disabled=&quot;false&quot; data-overlay-theme=&quot;b&quot; data-shadow=&quot;true&quot; data-corners=&quot;true&quot; data-transition=&quot;none&quot; data-position-to=&quot;[object Object]&quot; data-dismissible=&quot;true&quot;&gt;
        &lt;span class=&quot;action run&quot; title=&quot;&quot;&gt;Do Job Now&lt;/span&gt;
        &lt;span class=&quot;action hold&quot; title=&quot;&quot;&gt;Hold&lt;/span&gt;
        &lt;span class=&quot;action job-history&quot; title=&quot;&quot;&gt;Job Completion History&lt;/span&gt;
        &lt;span class=&quot;action where-used&quot; title=&quot;&quot;&gt;Where Used&lt;/span&gt;
        &lt;span class=&quot;action job-flow-diagram&quot; title=&quot;&quot;&gt;Diagram Job&lt;/span&gt;
        &lt;span class=&quot;action check-off&quot; title=&quot;&quot;&gt;Check-off Forecasted Job&lt;/span&gt;
        &lt;span class=&quot;action properties&quot; title=&quot;&quot;&gt;Properties&lt;/span&gt;
        &lt;span class=&quot;action close&quot;&gt;Close&lt;/span&gt;
    &lt;/div&gt;
&lt;/div&gt;

                      </pre>

                  </div>

                </div>
                  <!-- end section seven -->


                </div>




