// Base mixin that contains common imports and framework utilities



// Standard Imports
@import "breakpoint";
@import "compass/css3";
@import "compass/css3/background-size";
@import "compass/css3/background-clip";
@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/support";
@import "compass/utilities/general/clearfix";
$experimental-support-for-svg: true;  // IE9/Opera gradient support
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: false;
$legacy-support-for-mozilla: false;  //pre firefox 3.6

@import "../lib/font-open-sans/open-sans";

// standard defaults
$default-border-radius: 0;

$red:         #BA0E0E;
$gray:        #CCCCCC;
$white:       #FFFFFF;
$green:       #8cc63e;
$black:       #333333;
$orange:      #F5D131;
$pt-blue:     #0A76BE;
$pm-orange:   #F68400;
$mid-gray:    #999999;
$dark-blue:   #1B2F3C;
$dark-gray:   #555555;
$light-gray:  #f3f3f3;
$off-white:   #F8F8F8;

$qtr4:        1.00rem;
$qtr3:        0.75rem;
$qtr2:        0.50rem;
$qtr1:        0.25rem;

$default-font-size:   $qtr4;
$default-font-color:  $black;
$default-font-family: 'Open Sans Regular', Arial, sans-serif;


//Navigation
// $nav-background-color: ;
// $nav-font-color: ;
// $nav-font-size-heading: ;
// $nav-line-height-heading: ;
// $nav-font-size-normal: ;
// $nav-line-height-normal: ;
// $nav-separator-color: ;


// header
// $header-font-color: ;
// $header-font-size: ;
// $header-line-height: ;
// $header-font-family: ;
// $header-border: ;
// $header-padding: ;

// footer
// $footer-background-color: ;

// toolbars
// $toolbar-gradient-top: ;
// $toolbar-gradient-bottom: ;
// $tselectionbar-background-color: ;

// buttons
// $button-font-color: ;
// $button-gradient-top: ;
// $button-gradient-bottom: ;

// container constants
// $container-radius: ;
// $container-border-size: ;
// $container-shadow-color: ;

// dialog
// $dialog-border-color: ;

// grid defaults
// $grid-font-size: 14px;
// $grid-font-color: $default-font-color;
// grid header
// $grid-header-font-family: $default-font-family;
// $grid-header-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
// $grid-header-border: 1px solid $hue-gray !important;
// $grid-header-gradient-top: #F9F9F9;
// $grid-header-gradient-bottom: #E3E4E6;

// grid body
// $grid-body-font-family: $default-font-family;
// $grid-body-border: 1px solid $hue-gray;
// $grid-body-border-width: 1px solid $hue-gray;

// grid row
// $grid-row-even-color: $hue-off-white;
// $grid-row-odd-color: #EDEDED;
// $grid-row-active-color: #BED6E2;
// $grid-row-hover-color: #D7DFE2;
// $grid-row-active-hover-color: #AACFE0;

// grid cell
// $grid-cell-border: 1px solid #FAFAFA;
// $grid-cell-border-color: #FAFAFA transparent #EDEDED;

// Forms
$form-box-border: 1px solid $gray;
$form-box-background-color: $off-white;
$form-item-input-border: 1px solid $gray;
$form-item-input-text-shadow: 0 1px 0 off-white;
$form-item-input-box-shadow: inset 0 0.2rem 0.4rem rgba(0,0,0,0.2);
$form-item-input-box-shadow-focus: 0 0 0.8rem #387bbe;

// datatable
// $datatable-row-base-top: $hue-off-white;
// $datatable-row-base-bottom: #f1f1f1;
// $datatable-row-alternate-top: darken($datatable-row-base-top, 6);
// $datatable-row-alternate-bottom: darken($datatable-row-base-bottom, 6);
// $datatable-row-hover-top: darken($datatable-row-base-top, 10);
// $datatable-row-hover-bottom: darken($datatable-row-base-bottom, 10);

// menus


//media query breakpoints
$breakpoint-desktop: 1025px;
$breakpoint-portable: 587px 1024px;
$breakpoint-palm: max-width 586px;

// combined
$breakpoint-desktop-and-portable: 587px;
$breakpoint-portable-and-palm: max-width 1024px;

// orientations
$breakpoint-portable-portrait: ($breakpoint-portable) (orientation portrait);
$breakpoint-portable-landscape: ($breakpoint-portable) (orientation landscape);
$breakpoint-palm-portrait: ($breakpoint-palm) (orientation portrait);
$breakpoint-palm-landscape: ($breakpoint-palm) (orientation landscape);

// iPhone5 sample queries
$iphone5-dimensions:  320px 586px;
$iphone5-aspect-ratio:  '40/71' 'device-aspect-ratio';
$iphone5-resolution:  min-resolution 2dppx;
$breakpoint-iphone5: ($iphone5-dimensions) ($iphone5-resolution) ($iphone5-aspect-ratio);
$breakpoint-iphone5-landscape: ($iphone5-dimensions) ($iphone5-resolution) ($iphone5-aspect-ratio) (orientation landscape);
$breakpoint-iphone5-portait: ($iphone5-dimensions) ($iphone5-resolution) ($iphone5-aspect-ratio) (orientation portrait);

// iPad sample media queries
$ipad-dimensions:  786px 1024px;
$ipad-resolution:  min-resolution 2dppx;
$breakpoint-ipad: ($ipad-dimensions);
$breakpoint-ipad-landscape: ($ipad-dimensions) (orientation landscape);
$breakpoint-ipad-portait: ($ipad-dimensions) (orientation portrait);
$breakpoint-ipad-retina: ($ipad-dimensions) ($ipad-resolution);
$breakpoint-ipad-retina-landscape: ($ipad-dimensions) ($ipad-resolution) (orientation landscape);
$breakpoint-ipad-retina-portait: ($ipad-dimensions) ($ipad-resolution) (orientation portrait);



// Some mixing for common css issues

// Remove the default button style.  IE will still shift content by 1px when clicked.
// @mixin removeDefaultButtonStyles {
//   &, &:active, &:focus {
//     border: 0;
//     border-style: none;
//     border-width: 0;
//     outline: 0;
//     outline-style: none;
//     outline-width: 0;
//     background: none;
//     @include box-shadow(none);
//   }
// }

// Use of the calc property
@mixin calc ($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -o-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin icon ($icon) {
  @include icon-FontAwesome();
  content: $icon;
}

@mixin icon-FontAwesome() {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@mixin center ($w, $h, $mw: $w, $mh: $h) {
  position: absolute;
  display: block;
  width: $w;
  height: $h;
  max-width: $mw;
  max-height: $mh;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  margin: auto;
}
